    <div id="container">
      <!--<div class="ocean">
        <img class="fishy" src="http://sailsjs.org/images/fishy4.png">
      </div>-->
     <h1 class="begin"><a href="http://localhost:1337" target="_self">Jabari Holloway</a></h1> 

      <div class="jh-error">
        <h1>
          Uh-oh
        </h1>
        <h5>
          The page you were trying to reach doesn't exist
        </h5>
      </div>
    </div>

