    <div id="container">
     <h1 class="begin"><a href="http://localhost:1337" target="_self">Jabari Holloway</a></h1> 

      <div class="jh-error">
        <h1>
          Sorry
        </h1>
        <h5>
          Something went wrong and I'm working on fixing it as we speak
        </h5>
        <h5>
           If the problem persists, please contact me 
        </h5>
      </div>
    </div>

