<!-- New Homepage -->

<div id="container" my-app="myPersonalSite">

<div class="row-fluid">

	<h1 class="begin">Jabari Holloway</h1>

</div>

<div id="jh-content-container" class="row-fluid">

	<div id="jh-content" class=" container middle">

	<div id="jh-more-recent" class="row-fluid jh-content-row">
		<div class="jh-achieves col-xs-6">
			<div class="jh-record">
				<div class="jh-star"></div>
				<div class="jh-label">
				Formed UnTied Shoes musical group
				</div>
			</div>
		</div>

		<div class="jh-stories col-xs-6">

		</div>
	</div>

	<div id="jh-less-recent" class="row-fluid jh-content-row">
		<div class="jh-achieves col-xs-6">

		</div>

		<div class="jh-stories col-xs-6">

		</div>
	</div>

	<!--<p style="width:50%;">This is my personal website, a place where I share
	 	my achievements and stories. Whether you share the 
	 	passions I do, expressed in my acheivements, or
	 	can relate to my struggles, revealed in my stories,
	 	feel free to contact me. I would love to hear your story
	 	too and see how together we can make this world a better place...</p>-->

	 <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed purus est, fringilla sed auctor non, luctus non tellus. Curabitur justo leo, lobortis quis tellus ut, euismod finibus lorem. Nulla ac suscipit eros, quis feugiat arcu. Suspendisse et sollicitudin enim. Fusce fermentum ac ipsum consequat interdum. Nulla enim diam, bibendum volutpat dapibus ac, condimentum nec risus. Cras porttitor porttitor felis, a maximus neque ullamcorper id. Nam rhoncus vehicula lorem a vulputate. Mauris eget tempus nibh.

Sed libero nisl, tristique in elit non, eleifend faucibus ante. Pellentesque bibendum porta posuere. Quisque a justo massa. Nullam pharetra tortor ac aliquet pulvinar. Sed vestibulum, lacus a consequat maximus, neque ligula lacinia ipsum, congue pharetra tortor turpis quis dolor. Curabitur viverra scelerisque diam, consectetur ultrices neque euismod vitae. Aliquam sagittis elit mi, eu ornare justo consequat nec. Suspendisse convallis nibh a arcu elementum pharetra. Duis scelerisque sit amet purus at hendrerit. Fusce hendrerit ornare velit, eleifend commodo magna vehicula id. Suspendisse potenti. Mauris nibh nisl, pharetra vel vehicula quis, congue a nisl. Morbi quis orci lobortis, sodales risus eget, luctus erat. Duis non lectus quis sapien gravida aliquet. Maecenas leo felis, volutpat sit amet est et, venenatis dapibus purus. Fusce in tortor et lorem finibus sagittis ac eget turpis.

Sed mattis fringilla lacinia. Aenean ultricies urna quis vehicula eleifend. Phasellus vitae congue mauris. Praesent nibh metus, sollicitudin quis maximus id, sagittis quis orci. Aenean pellentesque auctor purus, vitae bibendum dui facilisis id. Nunc vitae odio consectetur, tristique erat at, commodo enim. Praesent ac leo vel lorem euismod fringilla sit amet quis orci. Sed purus risus, facilisis sit amet urna eu, sodales congue magna.

Donec nec tincidunt odio. Nam eget maximus massa. Donec rhoncus nibh finibus arcu ultricies, in porttitor massa auctor. Duis ut posuere odio. Morbi eget hendrerit quam. Proin cursus malesuada semper. Nulla tempor eros quam, in aliquet orci dignissim sed. Suspendisse efficitur eros sem, vel faucibus turpis auctor sit amet. Vivamus non interdum urna. Maecenas libero eros, aliquam vitae eleifend vel, eleifend in augue. Morbi lorem sem, viverra et maximus id, ultrices sit amet tortor. Vestibulum elementum fermentum dictum. Duis vel ligula nec eros bibendum sodales eu sed massa. Praesent vitae sagittis leo.

Quisque convallis luctus est sed hendrerit. Nam suscipit porta sem, a euismod ipsum blandit at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus aliquet ullamcorper urna, ac posuere elit ullamcorper eget. Proin lobortis posuere nunc, vitae commodo metus tincidunt sit amet. Vestibulum ex ipsum, sodales nec eleifend ut, aliquet in purus. Ut a tortor nec turpis ultricies pellentesque. Morbi porttitor pharetra est, at malesuada libero volutpat sed. Integer auctor sodales libero, a dictum eros hendrerit sit amet. Ut tincidunt odio purus, ac dignissim metus hendrerit id. </p>-->




	</div>

</div>


<div id="jh-btns-row" class="row-fluid">

<div class="col-sm-6">

	<button class="btn btn-info pull-right jh-btn">Achievements</button>

</div>

<div class="col-sm-6">

	<button class="btn btn-info jh-btn">Stories</button>

</div>

</div>


<div class="row-fluid">


</div>


