<!DOCTYPE html>
<html ng-app="jhApp">
  <head>
    <title><%=typeof title == 'undefined' ? 'Jabari Holloway' : title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <base href="/">

    <!--
        Stylesheets and Preprocessors
        ============================== -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80489298-1', 'auto');
  ga('send', 'pageview');

</script>     

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/app.css">
    <!--STYLES END-->
  </head>

  <body>
   <h3 id="jh-mobile-landscape-message">Please rotate your screen</h3>
    <%- body %>


    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/angular.js"></script>
    <script src="/js/dependencies/angular-route.js"></script>
    <script src="/js/dependencies/angular-sanitize.js"></script>
    <script src="/js/dependencies/angular-animate.js"></script>
    <script src="/js/dependencies/angular-touch.js"></script>
    <script src="/js/dependencies/jquery-2.2.1.js"></script>
    <script src="/js/dependencies/jquery-2.2.1x.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/directives.js"></script>
    <script src="/js/paginationTest.js"></script>
    <script src="/js/services.js"></script>
    <script src="/js/ui-bootstrap-tpls-1.3.2.js"></script>
    <!--SCRIPTS END-->
  </body>
  <footer ng-controller="FooterCtrl">
    <div id="jh-footer" class="navbar navbar-fixed-bottom container">
      <div class="row">
          <div class="col-sm-12 text-center">
         <span>Site Design &copy 2017 Jabari Holloway</span>
         <button ng-class="{'jh-unclickable' : showFeedback, 'jh-active' : showContact}" ng-disabled="showFeedback" id="jh-contact-link" href="#" ng-click="toggleContact()">Contact me</button>
         <button ng-class="{'jh-unclickable' : showFeedback, 'jh-active' : showSubscribe}" ng-disabled="showFeedback" href="#" ng-click="toggleSubscribe()">Keep up to date</button>
         <button ng-class="{'jh-unclickable' : showFeedback, 'jh-active' : showAbout}" ng-disabled="showFeedback" href="#" ng-click="toggleAbout()">About</button>
            </div>
         </div>
   </div>
  
  <modal-dialog ng-cloak modal-id="jh-contact" hide-feedback="removeFeedback()" feedback-mode="showFeedback" reset-form-if-feedback="resetFormIfFeedback(form)" nested-form="jhContactForm" visible="showContact" hide-modal="toggleContact()">
     <div class="container jh-form-container">
      <form id="jh-form-contact" name="jhContactForm" ng-submit="contact(jhContactForm)" novalidate>
          <div class="row-fluid jh-form-row">
              <div class="col-xs-12">
                  <input class="jh-form-elem jh-form-name jh-form-elem-top" type="text" name="name" ng-model="contactForm.name" placeholder="Name" required/> 
              </div>
          </div>
          <div class="row-fluid jh-form-row">
              <div class="col-xs-12">
                  <input class="jh-form-elem jh-form-name" type="email" name="email" placeholder="Email" ng-model="contactForm.email" required/> 
              </div>
          </div>
          <div class="row-fluid jh-form-row">
              <div class="col-xs-12">
                  <textarea rows="7" cols="35" ng-model="contactForm.message" name="message" required></textarea>
              </div>
          </div>
          <div class="row-fluid jh-form-row">
              <div class="col-xs-12">
                  <input class="center-block jh-form-elem jh-btn-rounded" id="jh-btn-contact" type="submit" value="Send" />
              </div>
          </div>
      </form>
    </div>
   </modal-dialog>

   <modal-dialog ng-cloak modal-id="jh-subscribe" hide-feedback="removeFeedback()" feedback-mode="showFeedback" reset-form-if-feedback="resetFormIfFeedback(form)" visible="showSubscribe" hide-modal="toggleSubscribe()">
    <div class="container jh-form-container">
      <form id="jh-form-subscribe" name="jhSubscribeForm" ng-submit="subscribe(jhSubscribeForm)" novalidate>
          <div class="row-fluid jh-form-row">
              <div class="col-xs-12">
                  <input class="jh-form-elem jh-form-email jh-form-elem-top" type="email" name="email" ng-model="subscribeForm.email" placeholder="Email" required/> 
              </div>
          </div>
          <div class="row-fluid jh-form-row">
              <div id="jh-col-first-name" class="col-xs-6">
                  <input class="jh-form-elem jh-form-name" type="text" name="firstName" ng-model="subscribeForm.firstName" placeholder="First name" required /> 
              </div>
              <div id="jh-col-last-name" class="col-xs-6">
                  <input class="jh-form-elem jh-form-name" type="text" name="lastName" ng-model="subscribeForm.lastName" placeholder="Last name" required /> 
              </div>
          </div>
          <div class="row-fluid jh-form-row">
              <div class="col-xs-12">
                  <input class="center-block jh-form-elem jh-btn-rounded" id="jh-btn-subscribe" type="submit" value="Subscribe" />
              </div>
          </div>
      </form>
    </div>
   </modal-dialog>

   <modal-dialog ng-cloak modal-id="jh-about" class="jh-text-align-left" visible="showAbout" hide-modal="toggleAbout()">
    <div class="jh-about-text">
      <span id="jh-about-header"><b>JabariHolloway.com</b></span>
      
      <p>
        is a place where I share my <b>achievements</b> and <b>stories</b>
       </p> <img ng-show="showAbout" id="jh-photo" src="images/me.png" align="center">

       <!--<p>Some of my achievements are ongoing, building towards something greater - others are continuously being reinvented 
       </p>-->
      <!--</p>
      <br>
      <br>
      <p>--><p id="jh-about-p-2" ng-show="hasEntered">
        <!--Whether you share the same passions as me - expressed in my achievements - or can relate to my stories,--> Feel free to contact me or keep up to date with what I am doing. I would love to hear your stories and see how together we can make this world a better place
      </p>

      <button id="jh-btn-enter" ng-click="enter()" class="jh-btn-rounded jh-btn" ng-show="!hasEntered">Enter</button>

      <!--<span>-Jabari</span>-->
    </div>
   </modal-dialog>
 

   <div ng-show="showAbout" id="jh-photo-gradient"></div>
   <!--<div ng-show="showAbout" id="jh-photo-text-viewer"></div>-->

   <!--<img ng-show="showAbout" id="jh-photo" src="images/me.png">-->


   <h5 class="jh-form-submit-feedback" ng-show="showFeedback && !loading" ng-click="resetFormIfFeedback(currentForm); removeFeedback(); hideAllModals(); " ng-bind="
   formFeedback"></h5>

   <img id="jh-loading-gif" ng-show="loading" src="/images/infinity4.gif" />
   
  </footer>
</html>
