<!--CSS fix for mobile version of page-->
<style type="text/css">
	@media screen and (max-width: 500px) {
		#jh-footer {
			display: none;
		}
	}
</style>

<div ng-controller="StoriesCtrl" ng-init="ngLoaded = true" class="jh-align-center-fix">
<h1 class="begin jh-initials" ng-class="{'jh-tsn-initials-after' : ngLoaded}"><a href="/#stories" target="_self">J.H.</a></h1>
<h1 class="begin jh-full-name">
<span class="first-name" ng-class="{'jh-loaded' : ngLoaded}">
<span>J</span>
<span class="jh-tsn-non-initials-before" ng-class="{'jh-tsn-non-initials-after' : ngLoaded}">abari </span>
 </span>
<span class="last-name" ng-class="{'jh-loaded' : ngLoaded}">
<span class="jh-tsn-initials-before" ng-class="{'jh-tsn-initials-after' : ngLoaded}">H</span>
<span class="jh-tsn-non-initials-before" ng-class="{'jh-tsn-non-initials-after' : ngLoaded}">olloway</span>
</span>
 </h1>
<div id="jh-story-container" ng-cloak ng-mouseover="debounce(showFooter(), 100)" ng-mouseleave="debounce(hideFooter(), 100)" ng-class="{ 'jh-hide': pgsLoaded === false, 'jh-almost-fully-transparent' : modal.visible }">

	<!--pages-->
	<!--<div ng-repeat="i in ::getPagesArray(numPages)" class="jh-story-page">
	<!-pages must be a fixed height->
	<h1 id="jh-story-title" ng-class="{'jh-remove' : i > 0}" ng-bind="::storyInfo.title"></h1>

	<h5 id="jh-story-author" class="jh-story-info" ng-class="{'jh-remove' : i > 0}" ng-bind="::storyInfo.author"></h5>
	<h6 id="jh-story-date" class="jh-story-info" ng-class="{'jh-remove' : i > 0}" ng-bind="::formatDate(storyInfo.date)"></h6>

	
	<div class="jh-page-content-container">
		<p class="jh-story-text" ng-class="{'jh-story-p-first' : i == 0, 'jh-story-p-not-first' : i > 0}" ng-bind-html="pages[i]"></p>
	</div>

  </div>-->

</div>

<!--need a function for splitting content into 


</div>