<style type="text/css">
   @media screen and (max-width: 500px) {
		.navbar-fixed-bottom {
	   		 bottom: 25px;
		}
	}
</style>

<div ng-controller="AchievementsCtrl" ng-init="ngLoaded = true">
<h1 class="begin jh-initials" ng-class="{'jh-tsn-initials-after' : ngLoaded}"><a href="/#achievements" target="_self">J.H.</a></h1>
<h1 class="begin jh-full-name">
<span class="first-name" ng-class="{'jh-loaded' : ngLoaded}">
<span>J</span>
<span class="jh-tsn-non-initials-before" ng-class="{'jh-tsn-non-initials-after' : ngLoaded}">abari </span>
 </span>
<span class="last-name" ng-class="{'jh-loaded' : ngLoaded}">
<span class="jh-tsn-initials-before" ng-class="{'jh-tsn-initials-after' : ngLoaded}">H</span>
<span class="jh-tsn-non-initials-before" ng-class="{'jh-tsn-non-initials-after' : ngLoaded}">olloway</span>
</span>
 </h1>
	<content-background modal-mode="modal.visible" click="hideCarousel()" loaded="::ngLoaded">
		<!-- content -->
		<div class="container jh-content-container-inner jh-tsn-content-container-before">
			<!-- title row -->
			<div class="row-fluid">
				<div class="col-xs-12">
					<h1 id="jh-content-title" class="jh-text jh-tsn-text-before" ng-class="{'jh-tsn-text-after' : ngLoaded}" ng-bind="::achievement.name"></h1>
				</div>
			</div>
			<!-- date row -->
			<div class="row-fluid">
			<div class="col-xs-3"></div>
				<div class="col-xs-9">
					<p id="jh-content-date" class="jh-text jh-content-body" ng-bind="::achvDate">	
					</p>
				</div>
			</div>
			<!-- details row -->
			<div id="jh-details-container">
				<div ng-repeat="detail in ::achievement.details">
					<div class="row-fluid jh-details-row">
						<div class="col-xs-3 jh-details-col jh-details-col-label">
							<p class="jh-text jh-content-body jh-content-label" ng-bind="::detail.label"></p>
						</div>
						<div class="col-xs-9 jh-details-col jh-details-col-info">

							<p ng-show="::(isString(detail.info) && !isURL(detail.info) && !isRoute(detail.info))" class="jh-text jh-content-body" ng-cloak>{{::detail.info}}<span ng-cloak ng-show="detail.date" class="jh-text jh-content-body"> - {{::formatDate(detail.date)}}</span></p>

							<a ng-show="::isURL(detail.info) || isRoute(detail.info)"  ng-href="{{::detail.info}}" target="_blank" class="jh-text jh-content-body jh-link" ng-bind="::detail.text"></a><!--if info has children, get the info for each child-->
							<div ng-show="::isObject(detail.info)">
							  <div ng-repeat="subDetail in ::detail.info track by $index">
								<span ng-show="::subDetail.name" class="jh-text jh-content-body jh-sub-detail-title" ng-bind="::subDetail.name"></span>
								<p ng-show="::subDetail.blurb" class="jh-text jh-content-body" ng-cloak>{{::subDetail.blurb}} <span ng-cloak class="jh-text jh-content-body" ng-show="::subDetail.date"> - {{::formatDate(subDetail.date)}}</span></p> 
								<!--if has recording, create video link; if has score, create score link -->
								<a class="jh-text jh-content-body jh-content-link jh-btn-rounded" ng-show="::subDetail.recording"
								ng-href="{{::subDetail.recording}}" target="_blank" ng-cloak>Video</a>
								<a class="jh-text jh-content-body jh-content-link" ng-show="::subDetail.score"
								ng-href="{{::subDetail.score}}" target="_blank" ng-cloak>Score</a>
								<a class="jh-text jh-content-body jh-link" ng-show="::subDetail.imgLink" href="#" ng-click="showCarousel()" ng-bind="::subDetail.imgLink"></a><!--if subDetail.imgLink, then carousel-->
							  </div>
							</div>
						</div>
					</div>
				</div>
			</div><!--here-->
			<!-- image carousel -->
				<div id="jh-carousel-container" class="jh-carousel-container" ng-class="{ 'jh-remove' : !hasImgLink }" ng-show="carouselVisible">
					<uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
						<uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
							<img class="img-responsive center-block" ng-src="{{::slide.image}}" style="margin:auto;">
						</uib-slide>
					</uib-carousel>
				</div>
		</div>
	</content-background>

	<!--<div>
					  <div class="jh-modal-overlay" ng-click="click()"></div>
					  <div class="jh-content-burst jh-tsn-content-burst-before" ></div>
					  <div class="jh-content-container"></div>
	</div>-->


	<content-close url="/#achievements" ng-click="hideCarousel()"></content-close>


</div>

</div>