    <div id="container">
      <!--<div class="ocean">
        <img class="fishy" src="http://sailsjs.org/images/fishy4.png">
      </div>-->
     <h1 class="begin"><a href="/#stories" target="_self">Jabari Holloway</a></h1> 

      <div class="jh-error">
        <h1>
         Coming Soon
        </h1>
        <h5>
          The story you're looking for isn't available yet. Don't worry, it's on its way!
        </h5>
      </div>
    </div>

