<!-- New Homepage -->

<div id="container" ng-init="ngLoaded = true" ng-controller="HomeCtrl">

<div class="row-fluid">

	<h1 class="begin jh-home-full-name" ng-class="{ 'jh-tsn-home-full-name-after' : ngLoaded }">
	<a href="/" target="_self">Jabari Holloway</a></h1>

	<h1 class="begin jh-initials-rewind jh-initials-away" ng-class="{'jh-tsn-initials-after-rewind' : ngLoaded}">J.H.</h1>


	<h1 class="begin jh-full-name" >
	<span class="first-name" ng-class="{'jh-loaded' : ngLoaded }">
	<span>J</span>
	<span class="jh-tsn-non-initials-after" ng-class="{'jh-tsn-non-initials-before-rewind' : ngLoaded }">abari </span>
	 </span>
	<span class="last-name" ng-class="{'jh-loaded' : ngLoaded }">
	<span class="jh-tsn-initials-after" ng-class="{'jh-tsn-initials-before-rewind' : ngLoaded }">H</span>
	<span class="jh-tsn-non-initials-after" ng-class="{'jh-tsn-non-initials-before-rewind' : ngLoaded }">olloway</span>
	</span>
 	</h1>

	<h5 class="begin tagline">Creativity Progress Discovery</h5>
</div>

<div class="jh-home-content-container row-fluid">

	<div id="jh-content" class="container middle">

	<div id="jh-more-recent" class="row-fluid jh-content-row">
		<div class="jh-achieves col-xs-6" ng-class= "{'jh-mobile-col-on' : showAchieves === true, 'jh-mobile-col-off' : showAchieves === false}" >
		  <div ng-repeat="achv in ::achievements" ng-cloak>
		  	<a ng-href="{{::achv.url}}" target="_self" class="jh-record" ng-class="{'jh-record-active' : showAchieves === true}" ng-show="achv.visible" ng-style="::setPosition(achv.centrality, achv.recency)" >
		  		
				<div class="jh-star" ng-style="setSize(achv.importance)"></div>
				<div class="jh-label" ng-class= "{ 'jh-visible' : showAchieves, 'jh-hide' : modal.visible === true }">
				{{achv.name}}
				</div>
			</a>
		  </div>
		</div>

		<div class="jh-stories col-xs-6" ng-class="{'jh-mobile-col-on' : showStories === true, 'jh-mobile-col-off' : showStories === false}">
			 <div ng-repeat="stry in ::stories" ng-cloak>
		  		<a ng-href="{{::stry.url}}" target="_self" class="jh-record" ng-class="{'jh-record-active' : showStories === true}" ng-style="::setPosition(stry.centrality, stry.recency)">
					<div class="jh-star" ng-style="::setSize(stry.importance)"></div>
					<div class="jh-label" ng-class= "{ 'jh-visible' : showStories,  'jh-hide' : modal.visible === true }">
					{{stry.name}}
					</div>
					<div ng-if="::stry.available === false" class="jh-label" ng-class= "{ 'jh-visible' : showStories, 'jh-hide' : modal.visible === true }">
					(Coming Soon)
					</div>
				</a>
		  </div>
		</div>
	</div>


	</div>

</div>


<div id="jh-btns-row" class="row-fluid" ng-hide="modal.visible">

<div class="col-xs-6">

	<button class="btn btn-info pull-right jh-btn-rounded jh-btn jh-btn-main" ng-class="{'jh-btn-active' : showAchieves === true}" ng-click="showAchieves = true; showStories = false; setLocHash('achievements');">Show Achievements</button>

</div>

<div class="col-xs-6">

	<button class="btn btn-info jh-btn-rounded jh-btn jh-btn-main" ng-class="{'jh-btn-active' : showStories === true}" ng-click="showStories = true; showAchieves = false; setLocHash('stories');">Show Stories</button>

</div>

</div>


<div class="row-fluid">


</div>




