.begin {
	color: #d3d3d3;
	/*margin-left:10px;*/
}

.tagline {
	margin-left: 20px;
}

.middle p {
	color: #e3e3e3;
	witdh: 20%;
}

.end h2 {
	color: #111111;
}

html {

	height:100vh;
}

body {
	background: url('/images/stock-photo-milkyway-starfield-48322274.jpg') no-repeat center center fixed;
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:100%;
	font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
	min-width: 320px;
}

textarea {
	max-width: 100%;
	background-color: rgba(0,0,0,0);
	resize: none;
}

textarea:focus {
	outline-color: #293439;
	outline-width: 1px;
}

input:focus {
	outline-width: 3px;
	/*outline-color: rgb(52,66,72);*/
	/*outline-color: #242e32;*/
	outline-color: #293439;
	/*outline: none;*/
}

/*.footer {
	position: absolute;
	bottom:  0;
	width: 100%;
	height: 40px;
}*/

footer {
	font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
}

footer a, footer button, footer span {
	color:white;
	margin-right:50px;
	/*changed span to footer span*/
}

footer a {
	text-decoration:none;
}


h1, p {
	margin-left:20px;
	margin-right:20px;
}

h1 a {
	text-decoration: none;
	color: #d3d3d3;
}

h1 a:hover {
	text-decoration: none;
	color: #d3d3d3;
}

.jh-initials {
	position: fixed;
	z-index: 1001;
	top: 0;
	opacity: 0;
	transition: opacity 0.5s;
	transition-delay: 3s;
}

.jh-initials-rewind {
	position: fixed;
	top: 0;
	opacity: 1;
	transition: opacity 0.5s;
	transition-delay: 0s;
}


#container {
	position:relative;
	/*height:100vh;*/
	overflow-y:hidden;
	height:100%;
}

#container div p {
	overflow-y:hidden;
}

.jh-container {
	padding-left:5px;
	padding-right:5px;
}

#jh-carousel-container {
	position: absolute;
	height:305px;
	z-index:1010;
	top:0%;
	left:50%;
	transform: translate(-50%,0%);
	-webkit-transform: translate(-50%,0%);
	-moz-transform: translate(-50%,0%);
}

.carousel-control.right {
	background-image: none;
}

.carousel-control.left {
	background-image: none;
}

.carousel-indicators {
    bottom: 25px;
}

@media screen and (min-width: 768px)
.carousel-indicators {
    bottom: 45px;
}

/*is this needed?*/
.jh-content-container-outer {
	width:70%;
	margin-left: auto;
	margin-right: auto;
	/*animation-name: jh-content-container-appear;
	animation-duration: 3s;*/
}

div.jh-content-container-inner {
	width:70%;
	margin-left: auto;
	margin-right: auto;
	/*animation-name: jh-content-container-appear;
	animation-duration: 3s;*/
	opacity: 1;
	/*transition: opacity 0.5s;
	transition-delay: 3s;*/
}



@keyframes jh-content-container-appear {
	from {opacity: 0.2;}
	to {opacity: 1;}
}

#jh-content-title {
	top: 50px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	/*width: 370px;*/
	text-align: center;
}

#jh-content-date {
	top: 60px;
	position: relative;
}

#jh-details-container {
	position: relative;
	top: 70px;
}

/*try transitioning & animating the text to get the desired effect */
.jh-text {
	color: #333333;
	z-index: 1002;
	/*transition: opacity 0.5s;
	transition-delay: 3s;*/
	animation-name: jh-text-appear;
	animation-duration: 3.5s;
}

.jh-tsn-text-before {
	opacity: 0;
}

.jh-tsn-text-after {
	opacity: 1;
}

@keyframes jh-text-appear {
	from {opacity: 0}
	to {opacity: 1}
}

.jh-align-center-fix {
	text-align: center;
}

#jh-story-container {
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.jh-story-page {
	display: table;
	background-color: white; 
	height: 1056px; 
	width: 816px; 
	position:relative; 
	margin-left: auto;
	margin-right: auto; 
	margin-top:15px; 
	margin-bottom:15px;
	animation-name: jh-text-appear;
	animation-duration: 2s;
}

.jh-page-content-container {
	width: 100%;
	display: inline-block;
}

.jh-story-text {
	margin-left: 100px;
	margin-right: 100px;
	text-align: left;
	width: 616px; /*not necessary*/
	/*font-size: 15px;*/
}

#jh-story-title {
	margin-top: 50px;
	margin-bottom: 20px;
	margin-left: 100px;
	margin-right: 100px;
	text-align: center;
}

.jh-story-info {
	margin-left: 100px;
	text-align: left;
}

#jh-story-author {
	font-weight: bold;
	color: #000000;
}

#jh-story-date {
	color: #6F7E9E;
}

.jh-story-p-first {
	margin-top: 30px;
	height: 725px;
}

.jh-story-p-not-first {
	margin-top: 100px;
	margin-bottom: 100px;
	height: 900px;
}

span.jh-text-indent {;
	margin-left: 30px;
	display: inline-block;
}

span.jh-text-outdent {;
	margin-left: -10px;
}


.jh-content-body {
	color: #555555;
	z-index: 1002;
	position: relative;
}

p.jh-content-body {
	margin: 0 0 7px;
	max-width: 395px;
}

.jh-content-label {
	font-weight: bold;
	color: #333333;
	text-align: right;
}

.jh-sub-detail-title {
	font-weight: bold;
	color: #333333;
	margin-top: 2px;
	max-width: 395px;
}

.jh-details-row {
	margin-top: 5px;
}

.jh-details-col {
	margin-top: 14px;
	w
}

.jh-content-detail {
	margin-left: 10px;
	position: relative;
}

.jh-form-container {
	width:100%;
	position: relative;
}

.jh-form-row {
	height:30%;
}


.content {
	height:100%;
}

/*remove*/
/*#jh-content-container {
	height:70%;
	margin-top: -15px;
}*/

.jh-home-content-container {
	height:70%;
	margin-top: -15px;
}

#jh-content {
	height:100%;
}


.jh-content-row {
	height:100%;
	position:relative;
}

.jh-achieves {
	height: 100%;
}

.jh-stories {
	height: 100%;
}

.jh-record {
	max-width: 12em;
	display: inline-block;
	position: absolute;
	cursor: default;
	pointer-events: none;
}

.jh-record:hover {
	cursor: default;
}

.jh-record a {
	display: block;
	height: 100%;
	width: 100%;
}

.jh-record-active {
	pointer-events: auto;
}

.jh-record-active:hover {
	cursor: pointer;
	text-decoration: none;
}

.jh-star {
	height:64px;
	width:64px;
	border-radius:50%;
	/*background: radial-gradient(circle, rgba(0, 0, 255, 1), rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.0));*/
	background: radial-gradient(circle, rgba(255, 255, 255,1), rgba(0, 11, 60, 0.0), rgba(0, 0, 0, 0));
	margin:auto;
}

.jh-record-active:hover .jh-star{
	background: radial-gradient(circle, rgba(255, 255, 255,1), rgba(0, 20, 75, 0.5), rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.8));
}

.jh-record-active:hover .jh-label{
	color:#2badd4;
}

.jh-label {
	color:#fff;
	word-wrap: normal;
	font-size: small;
	text-align: center;
	visibility: hidden;
}

.jh-visible {
	visibility: visible;
}

#jh-btns-row {
	bottom:20px;
}

.navbar .navbar-nav {
	display:inline-block;
	float:none;
}

/*#jh-footer {
	bottom: 0;
	position: relative;
}*/

.jh-story-footer {
	background: url('/images/stock-photo-milkyway-starfield-48322274.jpg') no-repeat center center fixed;
	transition: height 1s, padding-top 1s;
}

.jh-footer-no-tsn {
	background: url('/images/stock-photo-milkyway-starfield-48322274.jpg') no-repeat center center fixed;
}

.jh-footer-story {
	height: 0;
	min-height: 0;
	/*margin-top: 10px;*/
	border: none;
	padding-top: 0;
	background: url('/images/stock-photo-milkyway-starfield-48322274.jpg') no-repeat center center fixed;
	transition: height 1s, padding-top 1s;
}

.jh-footer-story-visible {
	/*visibility: hidden;*/
	height: 40px;
	/*padding-top: 10px;*/
	padding-top: 10px;
}


#jh-footer .row div a:link {
	/*color:#2badd4;*/
	text-decoration:none;
}

#jh-footer .row div a:focus {
	color:#2badd4;
	text-decoration:none;
}

#jh-footer .row div a:hover {
	color:#2badd4;
	text-decoration:none;
}


.jh-btn {
	/*background-color:#2badd4;*/
	/*visibility: hidden;*/
	background-color: #1e7994;
}

.jh-btn:hover {
	/*background-color:#41b6d8;*/
	background-color: #5fdbff;
}

.jh-btn:focus {
	background-color: #5fdbff;
}

.jh-btn-active {
	/*background-color: #7ecde4;*/
	/*background-color: #5fdbff;*/
	background-color: #1e7994;
}



.jh-modal-overlay {
	position: fixed;
	z-index:999;
	top:0;
	left:0;
	/*width:100%;
	height:100%;*/
	width: 100vw;
	height: 100vh;
	background-color:#333333;
	opacity:0.40;
}

.jh-modal-burst {
	position:fixed;
	z-index:1001;
	top:50%;
	left:50%;
	/*width:60%;
	height:90%;*/
	width: 720px;
	height: 615px;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	background: radial-gradient(circle, rgba(116,143,165,1), rgba(255,255,255,1) 20%, rgba(51,51,51,0.0) 60%);

}



.jh-content-burst {
	position:absolute;
	z-index:1000;
	top:50%;
	left:50%;
	/*width:80%;
	height:100%;*/
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	background: radial-gradient(circle, rgba(255,255,255,1), rgba(255,255,255,0.50) 40%, rgba(255,255,255,0.0) 60%);
	width: 100vw;
	height: 100vh;
	/*transition: width 2s, height 2s, opacity 2s;
	transition-delay: 3.5s;
	transition-timing-function: linear;*/
	animation-name: jh-content-burst-grow;
	animation-duration: 3s;
}

/*.jh-tsn-content-burst-before:hover {
	width: 1009px;
	height: 688px;
	opacity: 1;
}*/

.jh-tsn-content-burst-after {
	width: 1009px;
	height: 688px;
	opacity: 1;
}

@keyframes jh-content-burst-grow {
	from { width: 0px; height: 0px; top: 50%; left: 50%; }
	to {width : 1009px; height: 100vh; top: 50%; left: 50%;}
}

.jh-modal-dialog {
	/*square*/
	position:fixed;
	z-index:1004;
	top:50%;
	left:50%;
	/*width:27%;*/
	width: 324px;
	/*height:54%;*/
	height: 370px;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	background-color: rgba(255,255,255,0.15);
	/*border: 1px solid black;*/
}

#jh-about {
	height: 410px;
	width: 350px;
}

#jh-about-p-2 {
	margin-top: 10px;
	margin-bottom: 0;
}

#jh-btn-enter {
	height: 40px;
	width: 250px;
	position: relative;
	margin: 0 auto;
	margin-top: 35px;
	display: block;
	border: none;
	font-size: 18px;	
}

.jh-content-close {
	/*square*/
	position:absolute;
	z-index:1001;
	top:50%;
	left:50%;
	height:100%;
	/*width:67%;*/
	width: 804px;
	background-color: rgba(255,255,255,0.05);
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	animation-name: jh-content-close-appear;
	animation-duration: 3s;
	animation-timing-function: ease-in;
}

@keyframes jh-content-close-appear {
	from {opacity: 0;}
	to {opacity: 1;}
}

.jh-modal-close-row {
	height: 10%;
}

.jh-modal-close-col {
	margin-top: 15px;
}

.jh-x {
  background: #ffffff;
  height: 15px;
  position: relative;
  width: 1px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

.jh-x:hover {
	cursor:pointer;
	color:#2badd4;
}

.jh-x:after {
  background: #ffffff;
  content: "";
  height: 1px;
  left: -7.5px;
  position: absolute;
  top: 7.5px;
  width: 15px;
}

.jh-x2 {
	position:relative;
	height:20px; /*need to make this responsive!*/
	width:20px;
}

.jh-x2::before, .jh-x2::after {
	position:absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background-color: #ffffff;
	content: "";
	transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

.jh-x2::after {
	transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    /*top: 45%;*/
}

.jh-x2:hover {
	cursor:pointer;
	
}

.jh-x2:hover::after {
	/*background-color:#2badd4;*/
	background-color:#333333;
}

.jh-x2:hover::before {
	/*background-color:#2badd4;*/
	background-color:#333333;
}

.jh-x3 {
	color: #ffffff;
}

.jh-x3:hover {
	color: #333333;
	cursor: pointer;
	text-decoration: none;
}

#jh-story-close {
	color: #6F7E9E;
	margin-top: 10px;
	margin-right: 10px;
}

#jh-story-close:hover {
	color: #333333;
}

.jh-about-text {
	margin-top: 5px;
}

.jh-about-text p {
	/*color: rgba(66, 18, 18, 0.53);*/
	text-align: center;
	color: #1e7994;
}

div.jh-about-text span {
	position:relative;
	margin-left:20px;
	margin-right:20px;
	font-size:1vw;
}

.jh-text-align-left {
	text-align: left;
}

div.jh-about-text span {
	color:#000000;
}

#jh-about-header {
	color:#333333;
	/*font-size:1.1vw;*/
	font-size: 14px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	display: block;
	position: relative;
}

.jh-form-elem {
	position:relative;
	margin-top: 20px;
	margin-bottom: 20px;
	/*background-color: rgba(52, 66, 72, 0.97);*/
	background-color: rgba(30, 121, 148, 0.97);
	border:none;
	padding-left: 10px;
	padding-right: 10px;
	padding: 5px 10px;
	/*-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);*/
	/*box-shadow: 0 0 5px 2px rgba(52, 66, 72, 0.97);*/
	box-shadow: 0 0 5px 2px rgba(30, 121, 148, 0.97);
	color:#c5c5c5;
}

input:-webkit-autofill {
	/*background-color: rgba(52, 66, 72, 0.97) !important;
	color:#c5c5c5 !important;*/
	-webkit-box-shadow: 0 0 0 50px rgba(30, 121, 148, 0.97) inset, 0 0 5px 2px rgba(30, 121, 148, 0.97);
	-webkit-text-fill-color: #c5c5c5;
	color: #c5c5c5;
}

.jh-form-elem-top {
	margin-bottom: 0;
}

::-webkit-input-placeholder {
	color: #c5c5c5;
}

:-moz-placeholder {
	color: #c5c5c5;
}

::-moz-placeholder {
	color: #c5c5c5;
}

:-ms-input-placeholder {
	color: #c5c5c5;
}

#jh-subscribe {
	/*width: 28%;*/
}

.jh-btn-rounded {
	border-radius:20px;
	color:#ffffff;
	padding-left:15px;
	padding-right:15px;
}

.jh-btn-rounded:hover {
	background-color: #3f5057;
}

.jh-btn-rounded:focus {
	outline: none;
}

#jh-btn-contact {
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 10px;
}


.jh-form-email {
	width: 100%;
}

.jh-form-name {
	width: 100%;
}

#jh-col-first-name {
	padding-right: 10px;
}

#jh-col-last-name {
	padding-left: 10px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.jh-error {
	text-align: center;
	color: #ffffff;
}

.ng-invalid.ng-touched {
	background-color: #A31919;
	/*background-color: #ac2f2f;*/
}

textarea.ng-invalid.ng-touched {
	background-color: #A31919;
	opacity: 0.2;
	outline-color: rgb(52, 66, 72);
	outline-width: 1px;
	border-color: rgb(52, 66, 72);
	border-width: 1px;

}

textarea.ng-invalid.ng-touched:focus {
		color:black;
}

h5.jh-form-submit-feedback {
	z-index: 1015;
    position: absolute;
    top: 48%;
    left: 50%;
    display: block;
    transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
    color: #ffffff;
    cursor: pointer;
}

a.jh-unclickable {
	cursor: default;
}

/******* Main Buttons *******/
.jh-btn-main {
	width: 145px;
}

.jh-btn-main:focus {
	background-color: #3f5057;
}

.jh-btn-main:active {
	background-color: #3f5057;
}

.jh-btn-main:active:focus {
	background-color: #3f5057;
}


#jh-footer .row div button {
	color: #ffffff;
	 background:none!important;
     border:none; 
     padding:0!important;
     font: inherit;
     outline: none;
}

#jh-footer .row div button:hover {
	color: #2badd4;
}

#jh-footer .row div button.jh-active {
	color: #2badd4;
}

#jh-footer .row div button.jh-unclickable:hover {
	color: #ffffff;
}

/*span.first-name span {
	margin-right: 0;
}*/
h1.jh-full-name {
	z-index: 1000;
	position: fixed;
	top: 0;
	
}


h1.jh-full-name span span {
	opacity: 1;
	margin-right: 0;
	font-size: 36px;
	color: #d3d3d3;
	/*transition: opacity 2s;
	transition-delay: 5s;*/
}

h1.jh-full-name span.jh-loaded span {
	/*opacity: 0;*/

}

h1.jh-full-name span span.jh-tsn-non-initials-before {
	opacity: 1;
	transition: opacity 1s;
	transition-delay: 0.5s;
}

h1.jh-full-name span span.jh-tsn-non-initials-after {
	opacity: 0;
}

h1.jh-full-name span span.jh-tsn-initials-before {
	opacity: 1;
	transition: margin-left 1s;
	transition-delay: 1.5s;
}

h1.jh-full-name span span.jh-tsn-initials-after {
	margin-left: -73px;
}

h1.jh-full-name span {
	margin-right: 0;
	font-size:0;
}

.jh-home-full-name {
	z-index: 1001;
	opacity: 0;
	transition: opacity 0.5s;
	transition-delay: 3s;
}

h1.jh-tsn-initials-after {
	opacity: 1;
}

h1.jh-tsn-home-full-name-after {
	opacity: 1;
}

h1.jh-tsn-initials-after-rewind {
	opacity: 0;
}

h1.jh-full-name span span.jh-tsn-non-initials-before-rewind {
	opacity: 1;
	transition: opacity 1s;
	/*transition-delay: 0.5s;*/
	transition-delay: 1.5s;
}

h1.jh-full-name span span.jh-tsn-initials-before-rewind {
	opacity: 1;
	transition: margin-left 1s;
	/*transition-delay: 1.5s;*/
	transition-delay: 0.5s;
}

h1.jh-full-name span span.jh-tsn-initials-before-rewind {
	margin-left: 0;
}

div.jh-tsn-content-container-after {
	opacity: 1;
}



#jh-loading-gif {
	position: absolute;
	height: 64px;
	top: 48%;
    left: 50%;
    transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	z-index: 1010;
}

#jh-photo-gradient {
	background: radial-gradient(circle, rgba(255,255,255,1) 65%, rgba(255,255,255,0) 69%);
	height: 215px;
	width: 215px;
	top: 50%;
	left: 50%;
	position: fixed;
	transform: translate(-50%,-50%);
}

#jh-photo {
	/*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);*/
    z-index: 1000;
    height: 180px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5px;
}

#jh-photo-text-viewer {
	background: radial-gradient(circle, rgba(0,0,0,1) 65%, rgba(0,0,0,0) 69%);
	height: 225px;
	width: 225px;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	z-index: 1005;
}

#jh-photo-space {
	height: 175px;
	width: 175px;
	padding: 2px;
	float:left;
	margin-left: -20px;
}

.jh-link {
	text-decoration: underline;
}

.jh-content-link {
	height: 30px;
    width: 100px;
    padding: 10px;
    line-height: 10px;
    background-color: #3f5057;
    border-radius: 20px;
    color: white;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 20px;
}

.jh-content-link:hover, .jh-content-link:visited, .jh-content-link:focus {
	color: white;
	text-decoration: none;
}

.jh-hide {
	visibility: hidden;
}

.jh-remove {
	display: none;
}

.jh-slightly-transparent {
	opacity: 0.9;
}

.jh-almost-fully-transparent {
	opacity: 0.3;
}

#jh-mobile-landscape-message {
	display: none;
	color: #ffffff;
	position: absolute;
	top:25%;
	left:50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
}

/*----------------*/
/* responsiveness */
/*----------------*/

@media screen and (min-width: 1440px) {
	.jh-label {
		font-size: large;
	}
}

@media screen and (min-width: 1400px) {
	.jh-content-burst {
		width: 75vw;
	}

	.jh-label {
		font-size: medium;
	}

	.jh-btn {
		font-size: medium;
	}

	#jh-footer span, #jh-footer .row div button {
		font-size: medium;
	}

	@keyframes jh-content-burst-grow {
		from { width: 0px; height: 0px; top: 50%; left: 50%; }
		to {width : 75vw; height: 100vh; top: 50%; left: 50%;}
	}
}

@media screen and (min-width: 1040px) {
	.jh-content-burst {
		width: 80vw;
	}

	@keyframes jh-content-burst-grow {
		from { width: 0px; height: 0px; top: 50%; left: 50%; }
		to {width : 80vw; height: 100vh; top: 50%; left: 50%;}
	}
}

@media screen and (min-width: 1060px) {
	.jh-content-burst {
		width: 80vw;
	}

	@keyframes jh-content-burst-grow {
		from { width: 0px; height: 0px; top: 50%; left: 50%; }
		to {width : 80vw; height: 100vh; top: 50%; left: 50%;}
	}
}

@media screen and (max-width: 1024px) {
	#jh-details-container {
	    position: relative;
	    height: 335px;
	    width: 485px;
	    overflow-y: scroll;
	}
}

@media screen and (max-width: 800px) {
	#jh-content-title {
		font-size: 32px;
		top: 100px;
	}

	#jh-content-date {
		top: 120px;
	}

	#jh-details-container {
	   top: 130px;
	}

}

@media screen and (max-width: 768px) {
	
	.jh-story-text {
		width: 85vw;
		margin-right: auto;
		margin-left: auto;
	}

	.jh-story-page {
		width: 95vw;
		height: 1168px;
	}

	.jh-story-p-first {
    	height: 900px;
	}

	.jh-content-burst {
		width: 100vw;
	}

	@keyframes jh-content-burst-grow {
		from { width: 0px; height: 0px; top: 50%; left: 50%; }
		to {width : 100vw; height: 100vh; top: 50%; left: 50%;}
	}

	#jh-details-container {
	   left: -50px;
	   width: 400px;
	   height: 256px;
	}

	.jh-details-col-info {
		width: 60%
	}

	#jh-content-date {
		left: -25px;
	}

	.jh-content-close {
		width: 100vw;
	}

	.jh-x3 {
		margin-right: 10px;
	}

	.jh-story-p-not-first {
    	margin-top: 50px;
    	margin-bottom: 50px;
    	height: 1048px;
	}

	.jh-story-info {
		margin-left: 30px;
	}

	.jh-initials {
    	position: absolute;
    	left: 15px;
	}

	.jh-full-name, .jh-initials-rewind {
		display: none;
	} 

	.jh-home-full-name, .jh-initials {
		transition: none;
	}
}

@media (max-width: 768px) and (min-width: 480px) {
	h1.jh-full-name {
    	position: absolute;
    	left: 15px;
	}

	h1.jh-home-full-name, .tagline {
		margin-left: 35px;
	}
}

/* Bootstrap override */
@media (min-width: 768px) {
	#jh-footer .container {
	   width: 100%; 
	}
}

@media screen and (max-width: 500px) {
	body {
		min-width: 320px;
	}
	.jh-mobile-col-on {
		width: 100%;
	}

	.jh-mobile-col-off {
		display: none;
	}

	.jh-home-content-container {
		height:70%;
		margin-top: -15px;
		margin-left: -30px;
	}

	#jh-about {
	height: 410px;
	width: 324px;
	}

	.jh-content-close {
		/*square*/
		position:absolute;
		z-index:1001;
		top:50%;
		left:50%;
		height:100%;
		/*width:67%;*/
		width: 100vw;
		background-color: rgba(255,255,255,0.05);
		transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%);
		-moz-transform: translate(-50%,-50%);
		animation-name: jh-content-close-appear;
		animation-duration: 3s;
		animation-timing-function: ease-in;
	}

	.jh-content-burst {
	position:absolute;
	z-index:1000;
	top:50%;
	left:50%;
	/*width:80%;
	height:100%;*/
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	background: radial-gradient(circle, rgba(255,255,255,1), rgba(255,255,255,0.50) 40%, rgba(255,255,255,0.0) 60%);
	width: 100vw;
	height: 100vh;
	/*transition: width 2s, height 2s, opacity 2s;
	transition-delay: 3.5s;
	transition-timing-function: linear;*/
	animation-name: jh-content-burst-grow;
	animation-duration: 3s;
	}

	@keyframes jh-content-burst-grow {
		from { width: 0px; height: 0px; top: 50%; left: 50%; }
		to {width : 100vw; height: 100vh; top: 50%; left: 50%;}
	}

	div.jh-content-container-inner {
		width:100%;
		margin-left: auto;
		margin-right: auto;
		opacity: 1;
		
	}

	#jh-content-title {
		top: 120px;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		font-size: 24px;
		width: 200px;
	}

	.jh-details-col-info {
		width: 60%;
	}

	.jh-content-container-outer {
	    width: 100%;
	    margin-left: auto;
	    margin-right: auto;
	}

	#jh-details-container {
		left: 0;
	    position: relative;
	    top: 130px;
	    height: 145px;
	    width: 100%;
	    overflow-y: scroll;
	}

	.jh-content-label {
	   font-size: 12px;
	}

	.jh-details-col-label {
		/*display: none;*/
	}

	.jh-details-col {
		margin-top: 0;
	}

	.jh-sub-detail-title {
		font-size: 11px;
	}

	p.jh-content-body, a.jh-content-body {
	    font-size: 10px;
	}

	#jh-content-date {
	    top: 130px;
	    left: 0;
	}

	/*adjust carousel*/
	#jh-carousel-container {
		width: 400px;
		top: 15%;
	}

	.carousel-control.right {
		right: 50px;
	}

	.carousel-control.left {
		left: 50px;
	}

	.carousel-indicators {
		bottom: 10px;
	}
}

@media screen and (max-height: 550px) {
	#jh-btns-row {
		position: relative;
	}
}

@media screen and (max-width: 450px) {

	/*#jh-content-title {
		top: 140px;
	}

	#jh-content-date {
    	top: 160px;
	}

	#jh-details-container {
 	   position: relative;
    	top: 170px;
	}*/

	/*#jh-content-title {
		top: 120px;
	}

	#jh-content-date {
    	top: 140px;
	}

	#jh-details-container {
 	   position: relative;
    	top: 150px;
	}*/

	#jh-content-title {
		top: 100px;
	}

	#jh-content-date {
    	top: 120px;
	}

	#jh-details-container {
 	   position: relative;
    	top: 130px;
	}


	#jh-footer .row div button {
		margin-right: 20px;
	}

	footer span {
		margin: 0 auto;
		display: block;
	}

	.jh-initials {
		position: absolute;
		left: 0;
	}

	h1.jh-full-name {
    	position: absolute;
    	left: 0;
	}

	.jh-page-content-container {
    	width: 95vw;
    	display: inline-block;
	}

	.jh-story-text {
		width: 85vw;
		margin-right: auto;
		margin-left: auto;
	}

	.jh-story-page {
		width: 95vw;
		height: 1168px;
	}

	.jh-story-p-first {
    	height: 900px;
	}

	.jh-story-p-not-first {
    	margin-top: 50px;
    	margin-bottom: 50px;
    	height: 1100px;
	}

	.jh-story-info {
    	margin-left: 25px;
	}

	#jh-story-title {
    	margin-left: auto;
    	margin-right: auto;
	}

		/*Scroll bar fix - credit Stack Overflow: NoviceCoding and mikemaccana;*/
	::-webkit-scrollbar {
	    -webkit-appearance: none;
	    width: 7px;
	}

	::-webkit-scrollbar-thumb {
	    border-radius: 4px;
	    background-color: rgba(0,0,0,0.5);
	    -webkit-box-shadow: 0 0 1px rgba(255,255,255,0.0);
	    z-index: 1010;
	}
}

@media screen and (max-width: 800px) and (min-width: 450px) and (max-height: 450px) and (min-height: 300px) and (orientation: landscape) {
	body div {
		display: none
	}

	#jh-mobile-landscape-message {
		display: inline;
	}
}

@media screen and (max-width: 320px) {
	.jh-story-page {
		width: 95vw;
		height: 1280px;
	}

	.jh-story-p-first {
    	height: 1050px;
	}

	.jh-story-p-not-first {
    	margin-top: 50px;
    	margin-bottom: 50px;
    	height: 1170px;
	}
}

/* Ipad -- refine for other tablets */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  #jh-content-title {
  	  top: 180px;
  }

  #jh-content-date {
		top: 205px;
		left: -40px;
	}

  #jh-details-container {
		top: 205px;
		height: 500px;
	}

  #jh-carousel-container {
  		width: 600px;
  		top: 15%;
  }
}



@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
  .carousel-indicators {
		bottom: 20px;
	}
}

@media only screen and (max-width: 980px) and (min-width: 501px) {
	 #jh-carousel-container {
  		width: 500px;
  		top: 15%;
  }

  .carousel-control.right {
		right: 25px;
	}

	.carousel-control.left {
		left: 25px;
	}

	.carousel-indicators {
		bottom: 10px;
	}
}











