<!--subscription form -->

<div id="jh-subscribe" class="container">

	<!--header row-->
	<div class="row-fluid">
		<div class="col-xs-12">
		<!--add X-->
		</div>
	</div>

	<!--form row-->
	<div class="row-fluid">
		<form method="POST" action="ajax?">
			<div class="col-xs-12">
				<!--email row-->
				<div class="row-fluid">
					<div class="col-xs-12">
						<input name="email" type="text" placeholder="Email" />
					</div>
				</div>
				<!--first name/last name row-->
				<div class="row-fluid">
					<div class="col-xs-6">
						<input name="firstName" type="text" placeholder="First name" />
					</div>
					<div class="col-xs-6">
						<input name="lastName" type="text" placeholder="Last name" />
					</div>
				</div>
				<!--subscribe button-->
				<div id="jh-subscribe-row" class="row-fluid">
					<div class="col-xs-12">
						<button id="jh-btn-subscribe" class="jh-btn-rounded">Subscribe</button>
					</div>
				</div>
			</div>
		</form>
	</div>

</div>